.karatra{
    background-color: white;
   
    border-radius: 10px;
    justify-content: center;
    justify-items: center;
    overflow: hidden;
}

.cont{
    height: 242px;
    width: 192px;
    /* background-color: black; */
}

.aloka{
    -webkit-box-shadow: 23px 40px 50px 5px rgba(0, 0, 0, 0.147); 
    box-shadow: 23px 40px 50px 5px rgba(0, 0, 0, 0.086);
}

.sary-tapaka{

    object-fit: cover;
    border-radius: 100%;
}
.avatar{
    border-radius: 100%;
   
    /* -webkit-box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.16); 
    box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.16); */
}

.be{
    width: 75px;
    height: 75px;
}

.kely{
    width: 40px;
    height: 40px;
}

.anatiny{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 100%;
    width: 100%;
}



.card-header{
    width: 100%;
    height: 35%;
    max-height: 35%;
    /* background-color: red; */
    padding-top: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}

.card-footer{
    background-color: #F8F8F8;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    height: 46px;
    bottom: 0px;
    float: none;

    
}

.card-icon{
    width: 96px;
  margin: 5px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    transform: scale(0.7);
}

.card-img{
    width: 34px;
    height: 34px;
    
}

.card-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
    
    height: 64px;
    
    position: sticky;
    bottom: 0px;
    float: none;



    /* position: relative;
    margin: 0px;
    height: 35%;
    max-height: 35%;
    overflow: hidden;
    margin-bottom: -25px; */

}

.anarany{
    margin-top:-10px;
    color: var(--theme-dark);
   
    
}
.anarany h3 {
    font-size: 1.5em;
}

.asany{
    margin-top:-10px;
    color: var(--gris-claire);
    font-size: small;
}

.boribory1{
    position: absolute;
    background-color: var(--rose);
    width: 12px;
    height: 12px;
    text-align: center;
    border-radius: 100%;
    transform: translate(-30px,5px);
}
.boribory2{
    position: relative;
    background-color: white;
    width: 6px;
    height: 6px;
    text-align: center;
    border-radius: 100%;
    z-index: 0;
    transform: translate(50%,50%);
}
.card-progress{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.progress-text{
     z-index: 99999999999;
    color: rgb(136, 136, 136);
    font-size: small;
}

.progress-bar{
    background-color: rgb(215, 215, 215);
    height: 12px;
    width: 120px;
    margin-bottom: 10px;
    border-radius: 20px;
}
.progress-bar1{
    background-color: var(--theme-claire);
    height: 12px;
    width: 80px;
    margin-bottom: 10px;
    border-radius: 20px;
}




.chart{
    border-radius: 10px;
    justify-content: center;
    justify-items: center;
    overflow: hidden;
}

.sary-chart{
    position: relative;
}

.chart-all .chart {
height: auto;
width: auto;
    /* background-color: red; */
    /* height: 320px;
    width: 192px; */
}

.ambony{
    background-color: var(--theme-claire);
    height: 40px;
    width: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 0px 0px 15px 0px;
    color: white;
    text-align: center;
    
}

.ankavanana{
   position: absolute;
   top: -20px;
   right: -15px;
   transform: scale(0.8);
  
}



.center {
    max-height: 70px;
    
    padding: 22px 0;
    /* border: 3px solid green; */
    text-align: center;
  }


.chart-ambany{
    margin-top: 20px;
    height: 200px;
    background-color: var(--theme-claire);
    padding: 10px;

   
}

.chart-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.sary-chart .avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.sary-chart .avatar img {
    width: 100%;
    height: 100%;
}

.chart .ambony .center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.ambony .center p {
    font-size: 0.8em;
}

.card-haut-droite .karatra .anatiny .card-footer {
    height: 75px;
}
.card-haut-droite .karatra .anatiny .card-body .anarany h3 {
    font-size: 1.5em;
}

.sary-chart .io {
    height: 40px;
    width: 40px;
    
}
.chart-all .avatar .avt-img {
    height: 70px;
    width: 70px;
}
