:root {
    --theme-claire: hsl(334, 88%, 51%);
    --theme-dark: hsl(332, 60%, 36%);
    --rose: hsl(34, 91%, 61%);
    --gris-claire: hsla(0, 3%, 71%, 0.774);
    --blanc: hsl(0, 0%, 100%);


}

*, ::after, ::before {
    font-size: 14px;
    font-family: 'League Spartan', sans-serif;
}
body {
    background-image: url(../img/head/fond_bf@72x-8.png);
    background-size:cover ;
    padding: 0;
    margin: 0;
    background-position: -20px 0px;
width: 100%;
background-color: rgb(249, 248, 249);
background-repeat: no-repeat;
overflow: hidden;
}

.container{
   padding: 5%;
    border-radius: 5%;
   
   
   
}
.page {
    background-image: url(../img/fond-mf@72x-8.png);
    object-fit: cover;
    /* background-position: 0px 5px; */
    background-size: cover;
    margin: 5px;
    border: 4px solid white;
    background-color: white;
    border-radius: 2%;
    box-shadow: rgba(0, 0, 0, 0.075) 100px 60px 40px -7px;
}

/* .container .shadow{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    border-radius: 15px;
} */

.left {
    position: relative;
    margin: 60px 0px 0px 60px;
    padding: 60px 0px 0px 0px;
}

/* .section-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   
} */

.gros-titre h1 {
    font-size: 3.5em;
    font-weight: 600;
    color: var(--theme-dark);
    line-height: 0.85em;
    width: 100%;
    max-width: 500px;
    
}

.gros-titre h4 {
    font-size: 0.8em;
    padding: 24px 0px 48px 0px;
    color: var(--gris-claire);
    line-height: 1.5em;
    width: 100%;
    max-width: 285px;
}

.left .button {
    display: flex;
}
.button button {
font-size: 0.8em;
padding: 12px 25px 12px 25px;
}
.button .btn-gauche {
    border-style: none;
    background: linear-gradient(115deg, hsl(334, 88%, 51%)50%, hsl(34, 91%, 61%) 99%);
   width: 140px;
    color: var(--blanc);
    border-radius: 10px;
    font-weight: 600;
    box-shadow: rgb(0 0 0 / 30%) 20px 25px 50px -14px;
    cursor: pointer;
}

.button svg {
    height: 13px;
    width: 13px;
    margin-right: 15px;
}

.button .btn-droite {
    margin-left: 20px;
    border: 1.5px solid var(--gris-claire);
    background: var(--blanc);
   
    color: var(--theme-dark);
    border-radius: 14px;
    font-weight: 900;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.button .btn-droite:hover {
    background: var(--theme-claire);
    transition: all ease-in-out 0.4s;
    color: white;
}

.button .btn-droite:hover .cls-1{
    fill: var(--blanc)!important;
}

@media screen and (max-width:502px) {
    .gros-titre h1 {
        font-size: 3em;
    }
    .gros-titre h4 {
       
        padding: 15px 0px 25px 0px;
       
        line-height: 1em;
        width: 100%;
        max-width: none;
    }
   
    .page {
        margin: 0;
    }
    .container {
        padding: 0;
    }
    .button button {
        margin: 0 auto;
        font-size: 0.6em;
        height: 45px;
        width: 150px;
        padding: 6px 9px 6px 9px;
        }
        .button .btn-gauche {
           width: 110px;
         
        }
        
        .button svg {
            height: 15px;
            width: 15px;
            margin-right: 8px;
        }
        
        .button .btn-droite {
            margin-left: 15px;
        }
}

@media screen and (max-width:355px) {
    
    .gros-titre h1 {
        font-size: 2.6em;
    }
    .gros-titre h4 {
       
        padding: 15px 0px 15px 0px;
       
    }
    .button button {
        margin: 0 auto;
        font-size: 0.7em;
        height: 45px;
        width: 150px;
        padding: 6px 9px 6px 9px;
        }
        .button .btn-gauche {
           width: 85px;
         
        }
    .left {
       
        margin: 60px 0px 0px 0px;
        padding: 60px 0px 0px 0px;
    }
    .page {
        border: none;
    }
}